<!DOCTYPE html>
<html>
  <head>
    <title>Leads Management System</title>
    <%= csrf_meta_tags %>
    
    <%= javascript_pack_tag 'hello-world-bundle' %>
    <%= stylesheet_pack_tag 'hello-world-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
